*{margin:0px;}
.caja1
{
    background-color:blue;
    width: 50px; height: 50px;
    position: fixed;
    right: 450px;
    bottom: 450px;
}
.caja2
{
    background-color:blue;
    border-radius: 100%;
    width: 100px; height: 20px;
    position: relative;
    top: 140px;
    left: 515px;
}
.caja3
{  
    border-radius: 100%;
    width: 70px; height: 70px;
    position: relative;
    top: 120px;
    left: 527px;
    border-style: solid;
    border-color:black;
}
.caja3-1
{
    border-radius: 100%;
    width: 10px; height: 10px;
    position: absolute;
    top: 20px;
    left: 15px;
    border-style: solid;
    border-color:black;
}
.caja3-11
{
    background-color: black;
    border-radius: 100%;
    width: 4px; height: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.caja3-2
{
    border-radius: 100%;
    width: 10px; height: 10px;
    position: absolute;
    top: 20px;
    left: 40px;
    border-style: solid;
    border-color:black;
}
.caja3-21
{
    background-color: black;
    border-radius: 100%;
    width: 4px; height: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.caja4
{
    border-radius: 100%;
    width: 80px; height: 150px;
    position: relative;
    top: 90px;
    left: 522px;
    border-style: solid;
    border-color:black;
}

.caja4-1
{
    border-radius: 100%;
    width: 15px; height: 15px;
    position: absolute;
    top: 20px;
    left: 30px;
    border-style: solid;
    border-color:black;
}
.caja4-2
{
    border-radius: 100%;
    width: 15px; height: 15px;
    position: absolute;
    top: 60px;
    left: 30px;
    border-style: solid;
    border-color:black;
}
.caja4-3
{
    border-radius: 100%;
    width: 15px; height: 15px;
    position: absolute;
    top: 80px;
    left: 30px;
    border-style: solid;
    border-color:black;
}
.caja5
{
    border-radius: 100%;
    width: 130px; height: 130px;
    position: relative;
    top: 80px;
    left: 500px;
    border-style: solid;
    border-color:black;
}
p
{
    color: red;
    text-align: center;
    font-family: helvetica;
}
.caja6
{
    width: 80px; height: 8px;
    position: relative;
    top: 150px;
    left: 450px;
    border-style: solid;
    border-color: brown;
    transform: rotate(40deg);
}
.caja7
{
    width: 80px; height: 8px;
    position: relative;
    top: 150px;
    left: 600px;
    border-style: solid;
    border-color: brown;
    transform: rotate(140deg);
}